/**
*** https://rhiaro.co.uk
*** for The Tiffin, 2022
**/
html {scroll-behavior: smooth; }

body {
  font-family:  charter, Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.2;
  letter-spacing: 0.1em;
  font-size:  1em;
  color:  #fff;
}

header {
  background-color: #525e4a;
}

h1 {
  text-align:  center;
  font-weight:  bold;
  font-size:  2.2em;
}

h2 {
  font-size:  1.6em;
}

h3 {
  font-size:  1.4em;
  font-variant: small-caps;
  font-weight: normal;
}
h3:before {
  content:  " - ";
}
h3:after {
  content:  " - ";
}
main h3 {
  margin: 0.4em 0 0.6em 0;
}

h4 {
  font-size: 1.4em;
}

p {
  margin-top:  0.6em;
}

main p:after {
  content: '~';
  display: block;
}

em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: #000;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

footer {
  letter-spacing: 0;
}

.success {
  border:  2px solid #1f9176;
  color:  #155949;
  background-color: #b3ddd4;
  padding:  0.6em;
}
.fail {
  border:  2px solid #a84334;
  color:  #591e15;
  background-color: #f4bfb7;
  padding:  0.6em;
}

.btn {
  display:  inline-block;
  text-decoration: none;
  padding:  0.4em;
  /*width: 180px;*/
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  font-weight: 200;
  background: #525e4a;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.btn:hover {
  background: #000;
}

.btn:active {
  outline: none;
}

.center-sm {
  text-align: center;
}

.wee {
  font-size: 0.8em;
  opacity: 0.8;
}

.social {
  white-space:  nowrap;
  display: block;
}

#address {
  font-size: 1.2em;
}
#address a {
  text-decoration: none;
  color: #fff;
}

#intro {
  font-style: italic;
}

#hours {
  border: 0.8px solid #fff;
}
#hours h3 {
  padding-bottom: 0.6em;
}
#hours table {
  width:  100%;
}
#hours td {
  padding:  0.2em;
}
#hours table tr td:first-of-type {
  text-align: right;
}
#hours table tr td:last-of-type {
  text-align: left;
}

#intro, #address, #hours, #menu, footer {
  text-align:  center;
}

section {
  padding:  0.6em;
}

footer {
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  color:  #000;
  font-size:  1.2em;
  padding-bottom:  2em;
}
footer section {
  padding:  0.6em;
  opacity: 0.9;
}
footer a {
  color:  #000;
}
footer a:hover {
  color:  #525e4a;
}
footer ul {
  padding:  0.6em;
  text-align: left;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.8em;
  text-align: center;
}
footer ul li {
  padding: 0.2em;
}
footer ul li img {
  height:  1.4em;
  margin-bottom: -0.4em;
}
footer ul a {
  color:  #000;
  text-decoration: none;
  padding:  0.4em;
}
footer ul a:hover {
  background-color:  #525e4a;
  color:  #fff;
}

#themap {
  width: 100%;
  height: 100%;
  min-height: 20vh;
  mask-image: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 1.0) 98%, transparent);
}

/* Grid */

body {
  display: grid;
  grid-template-areas:
    "header"
    "picture"
    "main"
    "gallery"
    "footer";
  grid-template-rows: 0.8fr max-content max-content 0.4fr max-content;
}

body.admin {
  grid-template-rows: 0.4fr 2fr max-content max-content;
}

header {
  grid-area:  header;
  display:  grid;
  grid-template-columns: 1fr 15% 60% 15% 1fr;
  grid-template-rows: max-content max-content max-content 1fr;
  grid-template-areas:
    ". . logo . ."
    "address address address address address"
    ". hours hours hours ."
    ". . . . .";
  align-items:  end;
  padding:  1em;
}

h1 {
  grid-area:  logo;
}

main {
  grid-area:  main;
  display: grid;
  grid-template-areas:
  "intro"
  "menu";
}
#picture {
  grid-area: picture;
}
#intro {
  grid-area: intro;
}
#address {
  grid-area: address;
}
#hours {
  grid-area: hours;
}
#menu {
  grid-area: menu;
}
#gallery {
  grid-area: gallery;
}

footer {
  display:  grid;
  grid-area:  footer;
  grid-template-areas:
  "contact"
  "info"
  "map";
}
footer #contact {
  grid-area:  contact;
}
footer #sam {
  grid-area:  sam;
}
footer ul {
  grid-area: info;
}
footer #map {
  grid-area:  map;
}

/* IMAGES */

img {
  max-width: 100%;
}

#picture {
  background: #fff;
  padding: 0;
  line-height: 0;
}

main {
  background-color: #3f4768;
  color: #fff;
}

.social img {
  transition: all 0.8s ease;
  margin-bottom: 1em;
  height:  2em;
}

.social img:hover {
  filter:  saturate(0%);
}

#gallery {
  padding: 0;
  font-size:  0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
#gallery img {
  padding:  0; margin:  0;
  height:  100%;
  max-width: 100%;
}

/* === MEDIA QUERIES === */

@media only screen and (min-width: 720px) {

/* Grid */

body {
  grid-template-columns: 50% 50%;
  grid-template-rows: fit-content(600px) max-content 300px max-content;
  grid-template-areas:
  "header picture"
  "main main"
  "gallery gallery"
  "footer footer";
}

body.admin {
  grid-template-rows: 0.4fr 2fr max-content max-content;
}

main {
  grid-template-areas:
  "menu ."
  "menu intro"
  "menu .";
  grid-template-rows: 1fr max-content 1fr;
  grid-template-columns: 1fr 1fr;
}

#picture {
  text-align: center;
  overflow: hidden;
}
#picture img {
  height: 100%;
  max-width: none;
}

#hours {
  border: none;
}

p {
  font-size: 1.2em;
}

footer {
  grid-template-areas:
  "contact map"
  "info map";
  grid-template-columns: 1fr 1fr;
}

}


@media only screen and (min-width: 1200px) {

header { height: 100vh }

h1 img {
  max-width: 40%;
}

h2 {
  font-size:  2.4em;
  margin:  1em 0 1em 0;
}
p {
  font-size:  1.4em;
}

footer {
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas:
  "contact . map"
  "contact . map"
  "contact info map";
}
footer {
  text-align: left;
}
footer ul {
  text-align: left;
  font-size: 1.4em;
}

.center-sm {
  text-align: left;
}
.social {
  display:  inline;
}
.social img {
  margin-bottom:  -1em;
}

}

